html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.lora-font  {font-family: "Lora", sans-serif }

.header-background {
  background: #2C051A;
  height: 25px;
  width: 100%;
  margin-bottom: 30px;
}

.body-background {
  background-image: url("https://lh6.googleusercontent.com/_RTrfAs4KqPoB6HK6cvVeqri1ZD0manluPvzVkx-_UFJGwTferadAXiv-4gzNsOStVDlQxdxl06W9pRkjOSO=w950-h933-rw");
  opacity: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-background {
    background: #2C051A;
    background-size: cover;
    color: white;
}

.footer-icon-size {
  font-size: 30px;
  padding-left: 7px;
  padding-right: 7px;
}

.w3-text-flat-wisteria {
  color: #8e44ad;
}
